<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.PostMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Post">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="education" column="education" jdbcType="VARCHAR"/>
            <result property="place" column="place" jdbcType="VARCHAR"/>
            <result property="job" column="job" jdbcType="VARCHAR"/>
            <result property="contact" column="contact" jdbcType="VARCHAR"/>
            <result property="loveExp" column="love_exp" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
            <result property="reviewStatus" column="review_status" jdbcType="TINYINT"/>
            <result property="reviewMessage" column="review_message" jdbcType="VARCHAR"/>
            <result property="viewNum" column="view_num" jdbcType="INTEGER"/>
            <result property="thumbNum" column="thumb_Num" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,age,gender,
        education,place,job,
        contact,love_exp,content,
        photo,review_status,review_message,
        view_num,thumb_Num,user_id,
        create_time,update_time,is_delete
    </sql>
</mapper>
